#header {

    background-color: darkgrey;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;

    margin: auto;
    width: 80%;
    padding: 10px;
}
table {
    border-collapse: collapse;
}


#table td {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
